<div class="p-20">
    <button mat-stroked-button type="button" color="primary" (click)="generateNewNumber()">Generate New Number</button>
    &nbsp;
    &nbsp;
    &nbsp;
    <button mat-stroked-button type="button" color="warn" (click)="cancleSubscribtion()">Cancel Subscription</button>
</div>
<div class="p-20 comp-content">
    <div class="content">
        <app-component-one></app-component-one>
    </div>
    <div class="content">
        <app-component-two></app-component-two>
    </div>
    <div class="content">
        <app-component-three></app-component-three>
    </div>
</div>