

.app-emp-parent-content{
    border: 2px dashed red;
    padding: 30px;

    p{
        font-weight: 500;
    }


    app-emp-child{
        border: 2px dashed goldenrod;
        padding: 15px;
        margin-top: 30px;
        display: block;
    }
}