.tak-status-complete{
    background-color: green;
    color: white;
}
.tak-status-inprogress{
    background-color: orange;
    color: white;
}
.tak-status-new{
    background-color:rgba(0, 128, 255, 0.927);
    color: white;
}
.task-status{
    padding: 10px;
    margin: 10px;
}

.pad-10{
    padding: 10px;
}

.tutorial-card {
    
    margin: 15px;
  }

  .tutorial-card .title {
      font-size: 14px;
      font-weight: bold ;
  }

  .tutorial-card .content {
    flex-direction: column;
    padding: 10px;
    border: #888 1px solid;
    margin: 3px !important;
    display: flex;
  }