.mat-toolbar{
    background: #1976d2;
    margin-left: 20px;
}

.mat-toolbar-single-row{
    height: 59px;
}

.is-active{
    background-color:#f44336;
    text-decoration: overline;
}


.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]){
    background-color: #f44336;
}

