.reactive-form-content{
    padding: 20px;
    display: flex;
    .left-panel{
        width: 450px;
        float: left;
        margin-right: 30px;
    }
    .right-panel{
        float: left;
        padding-top: 50px;
    }
    
}