/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cust-mat-slide-toggle-bar{
    padding-left:20px;
    
    .mat-slide-toggle-bar{
        background-color: rgb(187 182 182 / 50%) !important;
    }
}
